body {
    font-family: "Funnel Display", sans-serif;
    margin: 0;
}

/* Header Block */
header {
    background-color: #FAEFE0;
    padding: 1rem 10px;
    border-bottom: #B37254 2pt;
}

header span {
    color: #F27135;
    font-size: 1.6rem;
    font-weight: 700;
}

/* Naviagation Block */

nav {
    background-color: #D8EBE9;

}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0 10px;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #F27135;
    font-weight: 550;

}

nav li.active a {

    background-color: #F27135;
    color: #D8EBE9; 
}

nav li a:hover {
    color: white;
}

/* Main Block */

main {

    padding: 1rem 10px;
}

Main h1 {

    color: #B37254;
}

main h2 {
    color: #F27135;
    margin-bottom: .2rem;
}

main h3 {
    color: #6EA788;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #FAEFE0;
}

main dl dt {
    color: #B37254;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #333;
    font-size: .9rem;
    margin-left: 20px;

}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #6EA788;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #D8EBE9;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #F27135;
    width: 350px;
}

main a {
    color: #F27135;

}

main a:hover {
    color: rgb(0, 0, 0);
}

footer {
    background-color: #FAEFE0;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}
footer p{
    margin: 0;
    letter-spacing: 3px;
}